<form autocomplete="off" #editRoleForm="ngForm" (ngSubmit)="save()">
    <mat-dialog-content style="width:700px;height:400px;">
        <mat-tab-group>
            <mat-tab [label]="'EditItem'|localize">
                <div class="col-md-12">

                    <mat-form-field>
                        <input matInput
                               name="Name"
                               [placeholder]="'Name' | localize"
                               [(ngModel)]="item.name"
                               required
                               minlength="2"
                               maxlength="32" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select name="option" required [placeholder]="'Type' | localize"
                                    [(ngModel)]="item.type">
                            <mat-option *ngFor="let x of itemTypes" [value]="x.id">
                                {{x.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select name="group" required [placeholder]="'ItemGroups' | localize"
                                    [(ngModel)]="item.itemGroupId">
                            <mat-option *ngFor="let x of itemGroups" [value]="x.id">
                                {{x.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab [label]="'Price'|localize" *ngIf="item.type != 0">
                <div class="body table-responsive">
                    <!--query start-->
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <thead>
                            <tr>
                                <th>{{ "Code" | localize }}</th>
                                <th>{{ "Price" | localize }}</th>
                                <th>{{ "BufferTime" | localize }}</th>
                                <th>{{ "Period" | localize }}</th>
                                <th>{{ "Actions" | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prc of (item.itemPrices
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
                                 ">
                                <td>
                                    <input matInput
                                           name="Code_{{prc.uniqueId}}"
                                           [placeholder]="'Code' | localize"
                                           [(ngModel)]="prc.code"
                                           required
                                           minlength="1"
                                           maxlength="10" />
                                </td>

                                <td>
                                    <input matInput
                                           name="Price_{{prc.uniqueId}}"
                                           [placeholder]="'Price' | localize"
                                           [(ngModel)]="prc.price"
                                           required
                                           type="number"
                                           minlength="1"
                                           maxlength="10" />
                                </td>
                                <td>
                                    <input matInput
                                           name="BufferTime_{{prc.uniqueId}}"
                                           [placeholder]="'BufferTime' | localize"
                                           [(ngModel)]="prc.bufferTimePeriod"
                                           required
                                           type="number"
                                           minlength="1"
                                           maxlength="10" />
                                </td>
                                <td>
                                    <input matInput
                                           name="Period_{{prc.uniqueId}}"
                                           [placeholder]="'Period' | localize"
                                           [(ngModel)]="prc.timePeriod"
                                           required
                                           type="number"
                                           minlength="1"
                                           maxlength="10" />
                                </td>
                                <td class="deleteButton">
                                    <button class="deleteButton" mat-menu-item (click)="deleteItemPrice(prc); $event.preventDefault()">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ "Delete" | localize }}</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button mat-mini-fab color="primary" class="pull-right" (click)="createItemPrice(); $event.preventDefault()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!editRoleForm.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
