<form autocomplete="off" #createItemForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateNewItem" | localize }}</h1>
  <mat-dialog-content style="width:600px;height:300px;">
      <div class="row-fluid">
          <div class="col-md-12">
              <mat-form-field>
                  <input matInput
                         name="Code"
                         [placeholder]="'Code' | localize"
                         [(ngModel)]="item.code"
                         required
                         minlength="2"
                         maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="Name"
                         [placeholder]="'Name' | localize"
                         [(ngModel)]="item.name"
                         required
                         minlength="2"
                         maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="Price"
                         [placeholder]="'Price' | localize"
                         [(ngModel)]="item.price"
                         required
                         minlength="2"
                         maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="Price"
                         [placeholder]="'Type' | localize"
                         [(ngModel)]="item.type"
                         required
                         minlength="2"
                         maxlength="32" />
              </mat-form-field>
              <!--<mat-form-field>
        <textarea matInput
                  name="Description"
                  [placeholder]="'RoleDescription' | localize"
                  [(ngModel)]="role.description"></textarea>
    </mat-form-field>-->
          </div>
      </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createItemForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
